{% extends 'base.html' %}
{% load static %}


{% block title %}
cart Page
{% endblock title %}



{% block css %}

{% endblock css %}

{% block content %}

<!-- //////////////////////////////// -->
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="products w-full md:w-3/5">
        {% for item in cart %}
        {% include 'cart/cart_item_partial.html' %}
        {% endfor %}
    </div>

    <div class="md:w-2/5 flex justify-center items-center">
        <div class="bg-white rounded-lg shadow-md p-6 w-full max-w-[300px]">

            {% include 'cart/summary_partial.html' %}
            <a href=" {% url 'cart:checkout' %} ">
                <button class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full">Checkout</button>
            </a>
        </div>
    </div>
</div>
<!-- //////////////////////////////// -->

{% endblock content %}




{% block js %}

{% endblock js %}