{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- New link tag for the SVG favicon -->
    <link rel="icon"
        href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23bce1ff' stroke-width='3'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z' /%3E%3C/svg%3E"
        type="image/svg+xml">



    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

    {% tailwind_css %}

    <title>
        {% block title %}

        {% endblock title %} | Tech Shop
    </title>

    {% block css %}

    {% endblock css %}

</head>
<body class="bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100  ">
    {% include 'navbar.html' %}
    <section class="bg-animated-bg">


        <!-- ::::::::::::::::::::::::::::::::::::: -->
        <!-- ::::::::::::::::::::::::::::::::::::: -->

        <!-- sm:px-6 lg:px-8 -->
        <section
            class="mt-[60px] max-w-screen-2xl py-4 mx-auto  bg-slate-400 bg-opacity-10 border-r border-l border-gray-300">
            {% block content %}

            {% endblock content %}
        </section>
        <!-- ::::::::::::::::::::::::::::::::::::: -->
        <!-- ::::::::::::::::::::::::::::::::::::: -->


        {% include 'footer.html' %}





    </section>
    <!-- ::::::::::::::::::::::::::::::::::::: -->
    {% block js %}

    {% endblock js %}
    <!-- ::::::::::::::::::::::::::::::::::::: -->

    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"></script>

    <!-- <script src="https://unpkg.com/htmx.org@1.7.0"></script> -->


</body>
</html>